body {
  /* background:linear-gradient(to bottom right, lightpink, rgb(242, 171, 183)) */
  background-image: url("../assets/building.jpg");
  background-size: cover;
  background-position: center;
}
.container span {
  text-align: center;
  font-size: 40px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 50px 0; */
}
@media (max-width: 800px) {
  .container {
    margin: 200px 0;
  }
}

.organizationName div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.organizationName {
  /* border: 2px solid red; */
  /* margin-top: 40px; */
  border-radius: 10px;
  box-shadow: 0 34px 38px 0 rgba(7, 15, 232, 0.2),
    0 36px 40px 0 rgba(47, 120, 192, 0.19);
  background-color: rgb(242, 201, 207);
  margin-top: 40px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.organizationName div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  font-size: 20px;
}

.organizationName div input {
  border-color: none;
  border-radius: 5px;
  height: 40px;
}

.organizationName button {
  height: 50px;
  width: 100px;
  border-radius: 8px;
  background-color: rgb(223, 124, 217);
  margin: 20px 0;
}
.organizationName button a {
  text-decoration: none;
}
